@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body , html{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
                                            /* display none */ .displayNone {display: none !important;}


/* Main PAGE styles ------------------------------------------*/
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main__menu{
    align-items: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
.main__menu__btn{
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.main__content{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 13%;
}

.main__content__name{
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.main__content__name:hover .big{
    color: hotpink;
    transition: 1s;  
    font-size: 50px;
    margin: 0 10px;
    font-family: 'Amatic SC', cursive;
}

.main__content__description{
    text-align: center;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}
/* Main PAGE styles ------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.display{
    height: 30vh;
    width: 80%;
    margin: 50px auto 50px auto ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.display__box{
    height:10vh;
    width:100%;
    cursor: pointer;
    margin: auto 0;
    text-align: center;
}
.display__box:hover div{
    transition: 1s;  
    border-bottom: 1px solid gray ;
    border-top: 1px solid gray ;
}

.display__box:hover .big{
    color: hotpink;
    transition: 1s;  
    font-size: 50px;
    margin: 0 10px;
    font-family: 'Amatic SC', cursive;
}

